:root {
    --first-color-text: #000;
    --second-color-text: #4285f4;
    --color-white: white;
    --iris: #4d5ae5;
    --blue-color: #404bbf;
    --studio-class: #f4f4fd;
    --ourteam-section: #ffffff;
    --color-body: #434455;
    --font-color: #2e2f42;
}